/* Contêiner de Digital Signage */
.digital-signage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #1704f4, #00ff0a); 
    overflow: hidden;
}

.logo {
    width: 250px; 
    height: auto;
    margin: 20px auto; 
    height: 100%S;
}

/* Contêiner para os vídeos */
.Elevador,
.TVpistol {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%; /* Ajusta a largura para caber lado a lado */
    margin: 10px; /* Espaçamento entre os vídeos */
}

/* Contêiner para alinhar os vídeos lado a lado */
.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; /* Espaçamento entre os vídeos */
    width: 100%;
    margin-top: 30px;
}

iframe {
    width: 100%; /* Torna os vídeos responsivos */
    height: 300px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
